{% extends "base.html" %}
{% block content %}
<body>
  <div class="header"> 
    <a class="logo">Welcome {{request.user}}</a>
    <div class="header-right">
       <a href="/home/">Home</a>
       <a href="/logout/">Logout</a>
   </div>
  </div>
    <div class="container mb-5">
        <form class="col-6 mx-auto card p-3 shadow-lg" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h3 class="text-center">Add Product</h3>
        {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
        <div class="mb-3">
          <label for="product_name" class="form-label">Name</label>
          <input type="text" class="form-control" id="product_name" name="product_name" required>
        </div>
        <div class="mb-3">
          <label for="product_price" class="form-label">Price</label>
          <input type="number" class="form-control" id="product_price" name="product_price" required>
        </div>
        <div class="mb-3">
          <label for="category">Category</label>
          <input type="text" class="form-control" id="category" name="category" required>
        </div>
        <div class="mb-3">
          <label for="product_image" class="form-label">Image</label>
          <input type="file" class="form-control" id="product_image" name="product_image" required>
      </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
</body>
</html>
{% endblock content %}